* {
	-webkit-user-select: none;
}

input {
    -webkit-user-select: auto;
}

.frameRate {
    position: fixed;
    bottom: 0%;
    overflow: hidden;
    font-size: 40px;
    z-index: 100;
    width: 200px;
    border: solid;
    text-align: center;
    height: 45px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.frameRate:hover span {
    display:none
}
  
.frameRate:hover:before {
    content:"View performances";
    font-size: 15px;
}
  
.frameRate:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border-color: black;
    /*transition: 0.5s ease-in;*/
}

.cameraPosition {
    font-size: 30px;
    position: fixed;
    text-align: right; 
    bottom:0%;
    width:calc(100% - 5px);
    display: inline;
    left: 0;
}

body {
    color: white;
    font-family: Arial, sans-serif;
}

.card {
    width: 50%;
    margin: 1rem auto;
    box-shadow: 0px 5px 20px #999;
    background-color: rgba(0, 0, 0, 0.50);
    border-radius: 0.25rem;
    word-wrap: break-word;
    padding: 1.25rem;
    min-width: 305px;
    display: flex;
}

.card-title {
    margin: auto 1rem auto 0;
}

wolf-slider{
    display: flex;
    /*margin: auto 1rem auto 0;*/
}

section.range-slider {
    position: relative;
    width: 100%;
    height: 35px;
    text-align: center;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    width: 100%;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);

    -webkit-appearance: none;
    border-radius: 5px;
    background: #999999;
}

section.range-slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
  }
  

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}
section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}
  section.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}

select {
    height: 36px;
    font-size: 14px;
    border-radius: 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    margin: 0px 3px 0px 3px;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 0;
    background-color: rgba(40, 40, 40, 0.8);
}

.modalWindow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
    background-color: #ffffffc2;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: black;
    border-radius: 10px;
    padding: 10px;
    filter: none !important;
    box-shadow: 5px 5px 8px 0px rgb(0 0 0 / 50%);
}

span {
    cursor: default;
}

.closeButton {
    z-index: 1000;
    background-color: #ffffff;
    position: fixed;
    top: -20px;
    right: -15px;
    color: #930000;
    border-radius: 30px;
    padding: 10px;
    height: 8;
    width: 8;
}

.modalWindow td {
    color: black;
    border:1px solid black;
}

#infoTabs {
    border: 1px solid white;
    width: 490px;
    height: 30px;
    top: 60;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    box-sizing: border-box;
    background-color: #434242;
}

.info {
    border:1px solid white;
    border-top: none;
    width: 490px;
    height: 600px;
    top: 90;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;

    box-sizing: border-box;
    padding: 10px;
}

#entityList {
    border: 1px solid white;
    position: absolute;
    width: 290px;
    height: 600px;
    top: 60;
    right: 0;
    bottom: 0;
    left: 1620px;

    box-sizing: border-box;
    padding: 10px;

    overflow-y: scroll;
}

.vectorInput {
    
}

.logs {
    position: fixed;
    text-align: center;
    bottom: 5%;
    width: 100%;
    font-size: 20px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.logInfo {
    color: #0066ff;
}

.logWarning {
    color: #b9b600;
}

.logError {
    color: #b10101;
}

.tabLink {
    background-color: #a1a1a1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 30px;
    transition: 0.3s;
    margin: -1;
}

.tabLink:hover {
    background-color: #ececec;
}

#addComponentButton {
    background-color: #e1e1e1;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin: -1;
    border-radius: 25px;
    color: #535353;
    margin-left: 5px;
    margin-top: 2px;
    font-size: 30px;
    height: 25px;
    width: 25px;
    position: relative;
}

.addButton {
    position: relative;
    border-width: 2px;
    border-style: solid;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s all;
    margin-right: 0;
    margin-left: auto;
}

.addButton:before {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-left-width: 2px;
    border-left-style: solid;
    left: 9px;
    top: 5px;
    content: "";
    position: absolute;
    height: 4px;
    width: 4px;
}

.addButton:after {
    border-top-width: 2px;
    border-top-style: solid;
    border-right-width: 2px;
    border-right-style: solid;
    left: 5px;
    top: 9px;
    content: "";
    position: absolute;
    height: 4px;
    width: 4px;
}

.tabSelected {
    background-color: #ececec;
}

.blockParameters {
    border: 1px solid rgb(183 183 183);
    margin: 5 5 10 5;
    padding: 8;
    border-radius: 10px;
    background: #313131;
}

.blockParametersTitle {
    background-color: rgb(183 183 183);
    margin: -8 -8 5 -8;
    padding: 5;
    color: black;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

.blockParametersContent {
    padding-top: 5px;
}

.blockParametersContent tr {
    border: 1px solid white;
}

.blockParametersContent td {
    border-right: 1px solid white;
    padding: 5px;
}

#sliderInfo {
    position: absolute;
    top: 60px;
    width: 5px;
    cursor: col-resize;
    background-color: rgb(224, 224, 224);
    z-index: 1;
}

#sliderList {
    position: absolute;
    top: 60px;
    width: 5px;
    cursor: col-resize;
    background-color: rgb(224, 224, 224);
    z-index: 1;
}

#sliderResourceBrowser {
    position: absolute;
    bottom: 250px; /* 50px for FPS + 200px for resource browser*/
    height: 5px;
    width: 100%;
    cursor: row-resize;
    background-color: rgb(224, 224, 224);
    z-index: 1;
    left: 0;
}

#viewBotRightElements {
    position: absolute;
    bottom: 250px; /* 50px for FPS + 200px for resource browser + 5px for slider */
    height: 25px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#AABBIcon {
    cursor: pointer;
}

#boundingSphereIcon {
    cursor: pointer;
}

#actionButtons {
    width: calc(100% - 17px);
    height: 42;
    border: 1px solid white;
    position: fixed;
    left: 0;
    top: 5px;
    padding-top: 5px;
    padding-left: 5px;
}

.actionButton {
    background-color: #f8f9fa;
    border: 1px solid #9d9d9d;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
    margin: 0px 3px 0px 3px;
}

.actionButton:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
}

.actionButton:focus {
    border-color: #4285f4;
    outline: none;
}

.validationButton {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
}

.validationButton:hover {
    background: #F6F9FE;
    color: #174ea6;
}

.validationButton:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.validationButton:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.validationButton:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.validationButton:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.validationButton:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.validationButton:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.validationButton:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

li {
    border-radius: 10px;
    padding: 25px 30px;
    margin-bottom: 25px;
    width: calc(100% - 30px - 25px);
    height: 15px;
    display: inline-flex;
}
.table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.table-row {
    background-color: #ffffff;
    box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 50%);
}
.col-1 {
    width: 30%;
}
.col-2 {
    width: 70%;
    transform: translate(0, -10px);
    display: flex;
    padding-left: 5px;
}

.columnDivider {
    border-right: 1px solid #8f8f8f;
    margin-top: -15px;
    margin-bottom: -15px;
}

.entityListItem {
    cursor: pointer;
    line-height: 20px;
}

.entityType {
    float: right;
    color: #807f7e;
    font-style: normal;
    font-size: small;
}

#entityContextMenu {
    background-color: #3f3f3f;
}

.menuList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-grid;
}

.menuItem {
    margin: 0;
    padding: 10px;
    cursor: pointer;
    width: auto;
    border-radius: 0;
}

.menuItem:hover {
    background-color: rgb(134, 134, 134);
}

.numberInput {
    margin: auto 0 auto 1rem; 
    width: 50px; 
    border-color: transparent; 
    background: inherit; 
    color: inherit;
}

.timeUnitInput {
    width:3ch;
}

#resourceBrowser {
    height: 200px;
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: calc(100% - 2px);
    border: 1px solid white;
    display: inline-flex;
    overflow: scroll;
    flex-wrap: wrap;
    justify-content: center;
}

.resourceMesh {
    width: 100px;
    height: 125px;
    border: solid 1px white;
    margin-top: 15px;
    margin-left: 7px;
    margin-right: 7px;
}

.resourceIcon {
    width: 100px;
    height: 100px;
}

.resourceName {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
}